@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Fredoka+One&display=swap');

.navbar .navlinks {
display: flex;
justify-content: space-between;
width: 50%;
list-style: none;
padding: 0;
margin: 0 auto;
}

h5{
    display: inline;


}

.nav-head {
    
}
